@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Playfair+Display:ital,wght@0,400;0,500;1,600&family=Righteous&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Josefin+Sans&family=Playfair+Display:ital,wght@0,400;0,500;1,600&family=Righteous&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Josefin+Sans&family=Montserrat&family=Playfair+Display:ital,wght@0,400;0,500;1,600&family=Righteous&family=Satisfy&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.menu {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.brand span{
    color: #F2B705;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    background-color: #591647;
    color: white;

}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.menu li{
    list-style: none;
}

.menu .lista{
color:#F2B705;
font-weight: bold;

}




.menu a:hover {
    background-color: #BF0449;
    color: white;
    transition: ease-in 0.3s;
}

.brand {
    margin-top: -5px;

}

.intro {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.intro img {
    height: 400px;
    width: 300px;
    border:  #F2B705 solid;
    
}


h1{
    font-size: 3em;
    
}

.intro span{
    color: #F2B705;
    font-family: Caveat;
    
}

.aboutme{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;

}

.aboutme img{
    width: 100%;
    grid-column: 1/5;
}

.about-intro {
    grid-column: 5/10;
    padding: 100px;
}

.about-intro h2{
    font-size: 35px;
}

.about-intro span{
    color: #F2B705;
    font-family: Caveat;
}

.divisor {
    margin-top: 30px;
}

.about-intro p{
    margin-bottom: 10px;
}

.about-intro p{
    font-family: 'Montserrat';
    font-weight: 400;
    color:black;
}